.DS_Store
.classpath
.project
.settings
target
KonamiGWTDemo/src/main/webapp/WEB-INF/classes
KonamiGWTDemo/src/main/webapp/WEB-INF/deploy/
KonamiGWTDemo/src/main/webapp/WEB-INF/hadoken
KonamiGWTDemo/src/main/webapp/hadoken